body{
  margin: 0px;
  background-color: #03314B;
  color: #ffffff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
header{
  background-color: rgb(2, 41, 65);
  padding: 3px 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo{
  display: flex;
  flex-direction: row;
  align-items: center;
}
img.logo{
  width: 60px;
  height: 60px;
  margin-right: 5px;
}
nav{
  width: 400px;
}
ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
li a{
  color: #ffffff;
  text-decoration: none;
  margin-right:  5px;
}
section{
  margin: 20px 70px;
}

div.following{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.interest-item{
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: solid 1px white;
  color: white;
  border-radius: 20px;
}
img.tools{
  width: 180px;
  height: 220px;
}
div.carousel-item p{
  width: 180px;
  color: rgb(206, 203, 203);
  margin-top: 0px;
}
h3{
  margin-bottom: 0px;
}
footer{
  padding: 30px 70px;
  background-color: rgb(2, 41, 65);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
img.icons{
  width: 35px;
  height: 35px;
}
a:hover, li:hover{
color: #dfc637;
}
/*EXPLORE PAGE*/
.main{
padding-top: 120px ;
padding-bottom: 56px;
display: flex;
flex-direction: column;
align-items: center;
}
.main h1{
  text-align: center;

}
form input{
  margin: 20px 0px;
  width: 692px;
  height: 50px;
  border: solid 1px rgb(206, 203, 203);
  border-radius: 7px;
  background-color: #03314B;
}
div.category h1{
  padding-left: 560px;
}
div.category{
  margin-bottom: 100px;
}
.wrapper{
display: flex;
flex-direction: row;
justify-content: center;
}
div.resource, div.courses, div.articles, div.codingComp{
  width: 150px;
  height: 130px;
  background-color: #225472;
  margin: 12px;
  padding: 15px;
  border-radius: 5px;
}
div.resource:hover, div.courses:hover, div.articles:hover, div.codingComp:hover{
  border: 3px solid  rgb(2, 41, 65); ;
}
/*SAVED PAGE*/
section.saved{
  height: 675px;
}
section.saved h1, section.saved p{
  text-align: center;
}